<div class="container">
  <div class="work-contents">
    <div class="inner">
      <section class="works">
        <h2>Works</h2>
        <div>
          <ul>
            <%= render partial: "work" %>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>