<div class="container">
  <div class="work-contents">
    <div class="inner">
      <section class="works">
        <h2 class="works__h2">個人名刺</h2>
        <div class="works__top">
          <img src="http://localhost:3000/assets/img-mb1.png">
          <div class="works__top__detail">
            <table>
              <tbody>
                <tr>
                  <th><div>ジャンル</div></th>
                  <td class="icon-td"><img src="http://localhost:3000/assets/icon1.png"></td>
                  <td><div>デザイン</div></td>
                </tr>
                <tr>
                  <th><div>制作期間</div></th>
                  <td class="icon-td"><img src="http://localhost:3000/assets/icon3.png"></td>
                  <td><div>約1週間</div></td>
                </tr>
                <tr>
                  <th><div>制作スキル</div></th>
                  <td class="icon-td"><img src="http://localhost:3000/assets/icon5.png"></td>
                  <td><div>HTML/CSS/javascript</div></td>
                </tr>
                <tr>
                  <th><div>担当</div></th>
                  <td class="icon-td"><img src="http://localhost:3000/assets/icon2.png"></td>
                  <td><div>デザイン</div></td>
                </tr>
                <tr>
                  <th><div>詳細</div></th>
                  <td class="icon-td"><img src="http://localhost:3000/assets/icon4.png"></td>
                  <td><div>URL</div></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="works__middle">
          <h3>概要</h3>
          <p>ここは概要です。ここは概要です。ここは概要です。ここは概要です。<br>ここは概要です。ここは概要です。ここは概要です。ここは概要です。<br>ここは概要です。ここは概要です。ここは概要です。</p>
        </div>
        <div class="works__bottom">
          <a href="/works"><i class="fas fa-caret-left"></i>Back</a>
        </div>
      </section>
    </div>
  </div>
</div>