<div class="container">
  <div class="top-img">
    <div class="inner">
      <div class="screen-pc">
        <img src="assets/img-pc1.png">
      </div>
      <div class="screen-mb">
        <img src="assets/img-mb1.png">
      </div>
    </div>
  </div>
  <div class="top-contents1">
    <div class="inner">
      <section class="omoi">
        <div>皆さんの笑顔が私の原動力です。<br>ものづくりを通して誰かの喜びを作りたい<br>いいものを作りたいと思う全ての方の<br>お手伝いができればと思っています。</div>
      </section>
    </div>
  </div>
  <div class="top-contents2">
    <div class="inner">
      <section class="menu2">
        <div>
          <ul>
            <li><a href="/abouts"><div><img src="assets/about.png">About</div></a></li>
            <li><a href=""><div><img src="assets/work.png">Work</div></a></li>
            <li><a href=""><div><img src="assets/gallary.png">Gallary</div></a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
