<header>
  <div class="inner">
    <h1>
      <a href="/">SAYA's Portfolio</a>
    </h1>
  </div>
</header>
<div class="container">
  <div class="top-img">
    <div class="inner">
    </div>
  </div>
</div>
<footer>
  <div class="inner">
    <p class="copyright">Copyright © SAYA's Portfolio. All Rights Reserved</p>
  </div>
</footer>