.container{
  .work-contents{
    .inner{
      .works{
        div{
          ul{
            li{
              a{
                img.photo {
                  width: 215px;
                  height: 215px;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
    }
  }
}

.btn_f2{
  color: $white;
  background-color: $black;
  padding: 0px 10px 2px;
  border-radius: 50px;
}
