.container{
  .work-contents{
    .inner{
      .works{
        div{
          ul{
            li{
              img.photo {
                width: 220px;
                height: 220px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}