.pagination-inner{
  text-align: center;
  nav.pagination{
    span{
      margin: 0 3px;
    }
    .page {
      background-color: $black;
      border-radius: 50px;
      color: $white;
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 28px;
      a {
        color: $white;
      }
    }
    .current{
      background-color: #929292;
    }
  }
}
