.container{
  .work-contents{
    .inner{
      .works{
        h2.works__h2{
          margin: 0 0 30px 0;
          font-size: 35px;
          font-weight: 300;
          text-align: center;
        }
        &__top{
          display: flex;
          &__detail{
            margin-left: 25px;
            table{
              margin-top: 30px;
              tr{
                vertical-align: baseline;
                th{
                  color: $black;
                  div{
                    font-weight: 600;
                    padding: 10px 0;
                    box-sizing: border-box;
                    margin: 0 0 45px;
                    text-align: center;
                    line-height: 15px;
                    width: 105px;
                    background-color: #eee;
                    border-radius: 5px;
                  }
                  div.detail-h{
                    margin: 0;
                  }
                }
                td{
                  div{
                    margin-left: 15px;
                    font-weight: 600;
                    word-break: break-all;
                  }
                }
              }
            }
          }
        }
        &__middle{
          h3{
            border-left: solid 7px #d4d4d4;
            padding-left: 8px;
            margin: 40px 0 7px 0;
            font-weight: 600;
          }
          p{
            font-size: 14px;
            line-height: 1.8em;
          }
        }
        &__bottom{
          text-align: center;
          margin: 90px 0 20px;
          .btn_f{
            display: block;
            width: 100px;
            margin: 0 auto 30px;
            background: $black;
            color: $white;
            padding: 10px 35px;
            border-radius: 30px;
          }
          a{
            font-size: 19px;
            font-weight: 400;
            i{
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
}

/*PC用*/
@media screen and (min-width: 960px){
  .container{
    .work-contents{
      .inner{
        .works{
          &__top{
            width: 1100px;
            margin: 0 auto;
            img{
              width: 670px;
            }
          }
          &__middle{
            width: 1100px;
            margin: 0 auto;
          }
          &__bottom{
            width: 1100px;
            margin: 90px auto 20px;
          }
        }
      }
    }
  }
}

/*タブレット・スマホ用*/
@media screen and (max-width: 959px){
  .container{
    .work-contents{
      .inner{
        .works{
          h2.works__h2{
            margin: 0 0 30px 0;
            font-size: 25px;
            font-weight: 300;
            text-align: center;
          }
          &__top{
            display: block;
            img{
              text-align: center;
              width: 100%;
            }
            &__detail{
              padding-top: 30px;
              margin-left: 0;
              table{
                margin: 0 auto;
                font-size: 14px;
                tr{
                  th{
                    div{
                      padding: 10px 17px;
                      line-height: 13px;
                      margin: 0 0 25px;
                    }
                  }
                }
              }
            }
          }
          &__middle{
            padding: 0px 10px;
          }
        }
      }
    }
  }
}
