.container{
  .work-contents{
    .inner{
      .works{
        padding: 40px 0;
        h2{
          margin: 0 0 25px 0;
          font-size: 46px;
          text-align: left;
        }
        .btn_f{
          display: block;
          width: 100px;
          margin: 0 auto 30px;
          background: $black;
          color: $white;
          padding: 10px 35px;
          border-radius: 30px;
          text-align: center;
          font-size: 19px;
          font-weight: 400;
        }
        div{
          ul{
            display: flex;
            flex-wrap: wrap;
            li{
              flex-basis: 220px;
              flex-shrink: 0;
              flex-grow: 0;
              margin: 0 10px 40px;
              box-sizing: border-box;
              a{
                img{
                  width: 100%;
                  border: solid 1px #eee;
                  cursor: pointer;
                  transition-duration: 0.3s;
                  &:hover{
                    opacity: 0.6;
                    transition-duration: 0.3s;
                  }
                }
                p{
                  font-size: 14px;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*PC用*/
@media screen and (min-width: 960px){
  .container{
    .work-contents{
      .inner{
        width: 1200px;
        margin: 0 auto;
      }
    }
  }
}

/*タブレット用*/
@media screen and (max-width: 959px){
  .container{
    .work-contents{
      .inner{
        .works{
          margin: 0 16px;
          h2{
            font-size: 35px;
            text-align: center;
          }
        }
      }
    }
  }
}

/*スマホ用*/
@media screen and (max-width: 479px){
  .container{
    .work-contents{
      .inner{
        .works{
          div{
            ul{
              li{
                display: block;
                text-align: center;
                max-width: 225px;
                margin: 15px auto;
              }
            }
          }
        }
      }
    }
  }
}
