<div class="container">
  <div class="about-contents">
    <div class="inner">
      <section class="about">
        <h2>About</h2>
        <p>神戸でフリーランスのWeb制作・イラストレーターとして活動中。<br>2017年から2年間、マーケティング会社でマーケティング・デザイン・コーディング・イラスト制作等の業務を行う。<br>会社に勤めつつ、フリーでデザイン・コーディング等の依頼を受ける。<br>2019年にもっとプログラミングの勉強がしたいと思い、サーバーサイドが学べるスクールに通う。<br>2019年よりフリーランスに転向。</p>
        <div class="about-me">
          <img src="assets/me.png">
          <div>
            <p>saya</p>
            <table>
              <tbody>
                <tr>
                  <th>所在地</th>
                  <td>神戸市内</td>
                </tr>
                <tr>
                  <th>お問い合わせ</th>
                  <td>creat4869@gmail.com</td>
                </tr>
                <tr>
                  <th>事業内容</th>
                  <td>Webデザイン業務, HTML・CSS・javascript等によるフロント業務, WordPressを使ったサイト制作, デザイン業務, イラスト制作, LPに使用する漫画制作</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="sns-btn">
          <ul>
            <li><a href="https://twitter.com/03iZero"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/03izero/?hl=ja"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://github.com/creat4869"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>